#define PIN_CLK  D2
#define PIN_DATA D1


/**
 * If you're using a cheap D1 clone, these might be the correct pins for you
 * 
 */
#define PIN_CLK  4 //D2 on PCB
#define PIN_DATA 5 //D1 on PCB
*/

const float EXP_SMOOTH_ALPHA = 0.125;

const unsigned long PUBLISH_INTERVAL_FAST_MS = (10 * 1000);
const unsigned long PUBLISH_INTERVAL_SLOW_MS = (5 * 60 * 1000);

const char* MQTT_HOST = "mqtt.core.bckspc.de";
const char* MQTT_USERNAME = NULL;
const char* MQTT_PASSWORD = NULL;

const uint8_t MQTT_MAX_CONNECT_RETRY = 42;

const char* MQTT_TOPIC_CO2_MEASUREMENT = "sensor/co2/hackcenter";
const char* MQTT_TOPIC_TEMPERATURE_MEASUREMENT = "sensor/temperature/hackcenter/co2sensor";
const char* MQTT_TOPIC_LAST_WILL = "state/sensor/co2/lounge";


//These are optional
//const char* HOSTNAME = "ESP-co2Monitor";
//const char* CONF_WIFI_PASSWORD = "drowssap";

#define OTA_PASSWORD "foobarbaz"