#define PIN_CLK D2
#define PIN_DATA D1

const float EXP_SMOOTH_ALPHA = 0.125;

const unsigned long PUBLISH_INTERVAL_FAST_MS = (10 * 1000);
const unsigned long PUBLISH_INTERVAL_SLOW_MS = (5 * 60 * 1000);

const char* MQTT_HOST = "mqtt.core.bckspc.de";

const char* MQTT_TOPIC_CO2_MEASUREMENT = "sensor/co2/hackcenter";
const char* MQTT_TOPIC_TEMPERATURE_MEASUREMENT = "sensor/temperature/hackcenter/co2sensor";
const char* MQTT_TOPIC_SENSOR_STATE = "state/sensor/co2/hackcenter";

const char* WIFI_HOSTNAME = "ESP-co2Monitor";
const char* WIFI_SSID = "tolles wifi";
const char* WIFI_PASSWORD = "tolles pw";

#define OTA_PASSWORD "foobarbaz"
